.RoundBtn {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--greyC4);
  border-radius: 50%;
}

.RoundBtn:not(:last-child) {
  margin-right: 15px;
}

.RoundBtn svg {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}