.Comments {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  translate: -8px;
}

.Comments::after {
  content: attr(data-comments-count);
  color: var(--greyC4);
  font-size: 0.75rem;
}

@media (min-width: 1024px) {
  .Comments {
    display: none;
  }
}