.searchBlock {
  width: 100%;
  padding: 14px 20px;
  border-radius: 0 0 7px 7px;
  background-color: var(--white);
  box-shadow: 0 0 20 0 rgba(0, 0, 0, 0.1);

  @media(min-width: 768px) {
    width: max-content;
    order: 3;
    padding: 0;
    background-color: unset;
    box-shadow: unset;
    border-radius: unset;
  }
}