@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --black: #333333;
  --white: #ffffff;
  --accent: #CC6633;
  --grey99: #999999;
  --greyAD: #adadad;
  --greyC4: #c4c4c4;
  --greyD9: #d9d9d9;
  --greyF4: #f4f4f4;
  --green: #A4CC33;
  --red: #CC3361;
}

.body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: var(--greyC4);
  color: var(--black);
}

.round-btn {
  position: relative;
  width: 20px;
  height: 20px;
  background-color: var(--greyC4);
  border-radius: 50%;

  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

  &:not(:last-child) {
    margin-right: 15px;
  }
}